.ant-card-body {
  padding: 0;
}

#download {
  color: var(--PRIMARY);
  font-size: 1.5em !important;
}

#cloud {
  color: var(--SECONDARY);
  font-size: 1.5em !important;
}

#delete {
  color: var(--RED);
  font-size: 1.5em !important;
}

.ant-card-head {
  margin: 0;
  padding: 0;
}

.title{
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    overflow: hidden;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: center;
    color: var(--GREY-160);
    font-weight: 600;
    font-size: 16px !important;
    padding-bottom: 16px;
    margin: 0;
    width: auto;
  }

  div {
    border-top: 1px solid #f0f0f0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
  }
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  span[role='tag'] {
    margin-bottom: 10px;
  }
}

.ant-card-head-title {
  padding-bottom: 6px;
}