.storybook-radiogroup > .ant-radio-button-wrapper:hover {
    background-color: var(--WHITE) !important;
    color: var(--PRIMARY-080) !important;
    border-color: var(--PRIMARY-120) !important;
}

.storybook-radiogroup > .ant-radio-button-wrapper {
    background-color: var(--WHITE) !important;
    color: var(--PRIMARY-120) !important;
    border-color: var(--PRIMARY-120) !important;
}

.storybook-radiogroup > .ant-radio-button-wrapper-checked:hover {
    background-color: var(--PRIMARY-120) !important;
    color: var(--WHITE) !important;
    cursor: default;
}

.storybook-radiogroup > .ant-radio-button-wrapper-checked {
    background-color: var(--PRIMARY-120) !important;
    color: var(--WHITE) !important;
}
