.storybook-header {
    padding: 1em 1em 1em 1em;
}

.storybook-header > .search {
    padding-bottom: 1em;
}

.storybook-header > .search > p {
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-size: small;
    font-weight: 300;
}