.storybook-gallery, .storybook-gallery-loading {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5em;
    column-gap: 1em;
    justify-content: space-around;
    padding-right: 1em;
    padding-left: 1em;
    overflow: scroll;
}
