.storybook-global-page {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1em;
    height: 100vh;
}

.storybook-global-page > .right-part {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 1em;
    height: 100vh;
}

.storybook-global-page > .right-part > .bottom-part {
    overflow: auto;
}
