$grey-140: #525252;
$grey-120: #5b5b5c;
$grey-100: #7c7c7c;
$grey-80: #AFAFAF;
$grey-40: #BFBFBF;
$white: #FFFFFF;
$green-140: #449F00;
$green-120: #5CA526;
$green-100: #71B53E;
$green-80: #6ECB28;
$green-60: #83E03E;
$green-40: #99B782;
$red-140: #A81010;
$red-120: #C71A1A;
$red-100: #DD4141;
$red-80: #D86464;
$red-60: #F06666;
$red-40: #AD7171;
$blue-140: #006D8D;
$blue-120: #009BC9;
$blue-100: #16B4E3;
$blue-80: #37C0E8;
$blue-60: #65D2F2;
$blue-40: #A1BFC7;
$yellow-140: #AFA418;
$yellow-120: #EA9F12;
$yellow-100: #E6BA25;
$yellow-80: #EBD03C;
$yellow-60: #EBDE3C;
$yellow-40: #C4C19D;