@import '../colors.scss';
@import '../size.scss';

button {
  text-transform: uppercase;
  height: $box-height;
  border-radius: $box-radius;
  padding-left: $medium-margin;
  padding-right: $medium-margin;
  padding-top: $small-margin;
  padding-bottom: $small-margin;
  font-size: $medium;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  &:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  &.primary {
    background-color: $white;
    color: $grey-120;
    
    border: $border solid $grey-120;
    
    &:after {
      background: $grey-20;
    }
    
    &:hover:not(:disabled) {
      box-shadow: 0px 3px 6px 0px $grey-20;
    }

    &:disabled {
      background-color: $grey-20;
    }
  }



  &.success {
    background-color: $green-100;
    color: $black;
    border: $border solid $green-120;
  
    &:hover:not(:disabled) {
      box-shadow: 0px 3px 6px 0px $green-20;
    }
  
    &:after {
      background: $green-20;
    }

    &:disabled {
      background-color: $green-20;
      color: $black;
    }
  }
  
  &.error {
    background-color: $red-100;
    color: $white;
    border: $border solid $red-120;
  
    &:hover {
      box-shadow: 0px 3px 6px 0px $red-20;
    }
  
    &:after {
      background: $red-20;
    }
  }
  
  &.warning {
    background-color: $yellow-100;
    color: $black;
    border: $border solid $yellow-120;
  
    &:hover {
      box-shadow: 0px 3px 6px 0px $yellow-20;
    }
  
    &:after {
      background: $yellow-20;
    }
  }
  
  &.information {
    background-color: $blue-100;
    color: $black;
    border: $border solid $blue-120;
  
    &:hover {
      box-shadow: 0px 3px 6px 0px $blue-20;
    }
  
    &:after {
      background: $blue-20;
    }
  }
  
}

